body {
    margin: 0;
    padding: 0;
    background: url('/tr_upscaled.jpg') no-repeat center center fixed;
    background-size: cover;
    
}

.title-container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 130px; 
    max-width:500px;
    border: 2px solid darkgray;
}

.title {
    color: #333; 
    border-radius: 12px;
}

.button-home {
    padding: 20px;
    border-radius: 10px;
    margin-top: 5px; 
}
.container-center {
    display: flex;
    justify-content: center; 
    align-items: center; 
  
}
.home-p {
    background-color:white; 
    border-radius:70px;
    padding: 10px; 
    margin-top: 150px;
    border-radius:12px;
    border: 2px solid darkgray;
    max-width:80%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    word-wrap: normal;
}

.game-text {
    background-color: #333;
    color: aliceblue;
    padding: 20px; 
    margin-top: 150px;
    max-width: 750px;
    word-wrap: normal;
    border-radius: 12px;
}

.button-game {
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px; 
}
.home-d {
    background-color:white; 
    border-radius:20px;
    padding: 10px; 
    margin-top: 150px;
    border-radius:12px;
    border: 2px solid darkgray;
    max-width:50%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    word-wrap: normal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width:600px;
  }